/* 改变主题色变量 */
$--color-primary: #117FD1;
$--color-success: #409D2D;
$--color-warning: #FF931E;
$--color-danger: #FF455B;
$--color-info: #878A8D;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";